* {
  box-sizing: border-box;
}

body {
  margin: 100px;
}

.container {
  display: flex;
  width: 1010px;
  border: 5px solid red;
  background-color: silver;
}

[class*="group"] {
  height: 250px;
}

.group1 {
  width: 500px; /* width 와 basis 두 속성이 적용되면 basis가 우선이다 (width 적용안됨) */
  flex: 1 1 200px; /* 순서 grow, shrink, basis */
  background-color: gold;
}
.group2 {
  flex: 2 1 200px;
  background-color: aqua;
}
.group3 {
  flex: 2 1 200px;
  background-color: lightgreen;
  order: -1;
}
